body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Large desktop */
   @media (min-width: 980px) {
                body {
                   padding-top: 20px;
                }
                .linediv-l {
                    border-right: 1px rgba(255, 255, 255, 0.8) solid;
                }
                .linediv-r {
                    border-left: 1px rgba(255, 255, 255, 0.8) solid;
                }
            }
        /* Macbook air (11') */
            @media (min-width: 720px) {
                body {
                    padding-top: 20px;
                }
                .linediv-l {
                    border-right: 1px rgba(255, 255, 255, 0.8) solid;
                }
                .linediv-r {
                    border-left: 1px rgba(255, 255, 255, 0.8) solid;
                }
            }
        /* Landscape phones and down */
            @media (max-width: 480px) {
                .copy {
                    padding: 2.5% 10%;
                }
                .linediv-l {
                    border-bottom: 1px white solid;
                }
                .linediv-r {
                    border-top: 1px white solid;
                }
            }
        /* All form factors */
        
        /* Main body and headings */
            body {
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                padding-top: 60px;
            }
            .heading, .subheading {
                font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
                text-align: center;
            }
 
            p.lead {
                padding-top: 1.5%;
                font-size: 24px;
                line-height: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        
        /* Video pitch and Action */
            .pitch {
                padding: 2.5% 0%;
            }
            .order {
                padding: 2% 0%;
            }
            .actions {
                background-color: #343434;
                padding: 2% 0% 2% 0%;
            }

            .video, .thermometer, .order, .social, .statistics {
                text-align: center;
            }
            .thermometer {
                margin-bottom: 10px;
            }
            
            .span12 {
                margin-left: 0;
                padding-left: 8%;
                padding-right: 8%
            }
            
            div.span12.order {
                padding: 0;
                margin-left: 0;
                margin-bottom: 10px;
            }
            .actions > div.span12 {
                margin-left: 0;
            }


            .statistics h3, .statistics p {
                color: white;
            }
        
        /* Marketing Copy and Footer */
            .copy {
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                text-align: justify;
                
            }
            .asset {
                padding: 2.5% 0%;
                
            }
            .footer {
                color: #cccccc;
                text-align: center;
            }
            .footer p {
                font-size: 11px;
            }
            .footer a {
                color: #ccccff;
            }